html {
    scroll-behavior: smooth;
}

.body {
    max-width: 1920px;
    margin: auto;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 100;
}

.navigation {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
}
.navigation-list__element {
    list-style-type: none;
}

.name {
    line-height: 0.5;
}
.work-experience-list__element::before{
    background-color: yellow;
}
.work-experience-list__element {
    list-style-type: none;
    display: inline-block;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 100px;
}

.avatar-container {
    margin: 0 auto;

}

.contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    padding-top: 30px;
    text-align: center;
}
.contacts li {
    list-style-type: none;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 10px;

}

.footer {
    display: flex;
    justify-content: space-between;
}

.two-columns {
    display: flex;
    justify-content: space-between;
}
.first-column {
    max-width: 800px;
}
.goals {
    padding-top: 30px;
}
.goals-description {
    max-width: 800px;
    font-size: 20px;
}

pre {
    max-width: 500px;
}

h2::before {
    background-color: yellow;
}

.project-img {
    max-width: 300px;
    max-height: 300px;
}
.projects-list__element{
    list-style-type: none;
}

.projects_list {
    max-width: 500px;
}

.video {
    max-width: 500;
    text-align: center;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding-top: 30px;
}

.work-experience-list__element{
    font-weight: bold;
}

.work-experience-list__element ul {
    font-weight: normal;
}
