.about_me {
    text-align: center;
}
.name {
    line-height: 10px;
    text-align: left;
    margin-left: 100px;
    width: 30%;
}
.skills {
    text-align: center;
}
.code_examples{
    text-align: center;
}
.experience {
    text-align: center;
}
.education {
    text-align: center;
}
.certificates{
    text-align: center;
}
.certificates li {
    align-self: auto;
    vertical-align: top;
}
.languages {
    text-align: center;
}
table .header_table {
    width:100%;
}
.photo {
    width: 60%;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contacts {
    text-align: center;
    margin-left: 200px;
    width: 10%;
}
nav ul {
        list-style: none; 
        margin: 0; 
        padding-left: 0; 
}
nav a {
    text-decoration: none; 
}
nav li {
    display: inline;

}
.course_info {
    width:100%;
}
.email {
    width:50%;
<<<<<<< HEAD
    text-align: left;
}
.course_label {
    width:40%;
    text-align: left;
=======
}
.course_label {
    width:40%;
>>>>>>> 4619de51d3378d04752b453daca7867c2f2faaea
}
.github {
    width:10%;
}
footer .course_info ul{
    list-style: none; 
        margin: 0; 
        padding-left: 0; 
}
footer .course_info a {
    text-decoration: none; 
}
footer .course_info li {
    display: inline;

}
.wrapper {
    margin:0px;
    border-bottom:1px dashed black;
    border-width:100%;
}
