.body {
    max-width: 1920px;
    margin: auto;
}
.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    text-align: center;
}

.name {
    line-height: 0.5;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 100px;
}

.contacts {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.two-columns {
    display: flex;
}